body {
    background-color: lightblue;
}
.content {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding-left: 6.5%;
    padding-right: 6.5%;
    padding-top: 20px;
    padding-bottom: 60px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 40px;
    box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-family: 'Calibri';
}
h1 {
    text-align: center;
    font-family: 'Forte';
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
}
h2 {
    font-family: 'Forte';
}
p {
    color: black;
}
.firstHeading {
    padding-top: 20px;
}
.galerieBilder {
    max-width: 100%;
    max-height: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
    border-radius: 8px;
}
.galerieBilder:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}
.table {
    font-size: 22px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.table-element {
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 1px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-size: 22px;
}
@media only screen and (max-width: 1025px) {
    .table-element {
        width: 100%;
    }
}
.table-element a {
    color: black;
}
.table-element a:hover {
    text-decoration: none;
}
.table-element:hover {
    background-color: rgb(230, 230, 230);
}
.dropbtn {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(230, 230, 230);
    color: black;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
.datum {
    color: red;
}
.nachrichtgesendet {
    color: rgb(255, 34, 34);
}
.button, #abonnieren {
    background-color: rgb(121, 199, 224);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 200px;
}
.button, #abonnieren {
    transition-duration: 0.4s;
}
.button:hover, #abonnieren:hover {
    background-color: rgb(14, 171, 223);
    color: white;
}
@media only screen and (max-width: 991px) {
    #zumNewsletterAnmelden {
        padding-top: 40px;
    }
}